#root {
  max-width: 1280px;
  text-align: left;
}

*{
  box-sizing: border-box;
  list-style: none;
  padding: 0;
  margin: 0;
}

.textAreah{
  height: 100px;
  line-height: 1.5;
}

.quesps{
  position: absolute;
  top: 0;
  right: 0;
}

.frame{
  width: 40%;
  box-shadow: -5px 0px 15px rgb(84, 84, 84);
  outline: 1px solid rgb(129, 129, 129);
}

.method-hover-bg:hover{
  background-color: #7d7d7d;
}

.fh{
  height: 100vh;
}

.fw{
  width: 100%;
}

.lh-15{
  line-height: 1.5;
}

.bd-rd-5{
  border-radius: 5px;
}

.bd-rd-10{
  border-radius: 10px;
}

.bd-rd-20{
  border-radius: 20px;
}

.bd-rd-frame-20{
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.pd-frame{
  padding: 20px 40px;
}

.pd-0{
  padding: 0;
}

.pd-10{
  padding: 10px;
}

.mg-r{
  margin-right: 10px;
}

.mg-r-10{
  margin-right: 10px;
}

.mb-10{
  margin-bottom: 10px;
}

.mb-20{
  margin-bottom: 20px;
}

.mb-30{
  margin-bottom: 30px;
}

.mg-l-10{
  margin-left: 10px;
}

.mg-ct{
  margin: auto auto;
}

.df{
  display: flex;
}

.jc-fe{
  justify-content: flex-end;
}

.jc-fs{
  justify-content: flex-start;
}

.jc-sb{
  justify-content: space-between;
}

.aln-tm-ct{
  align-items: center;
}

.cursor-pointer{
  cursor: pointer;
}

.hidden{
  opacity: 0;
}

.default{
  color: #f1f1f1;
}

.fill-Star{
  color: #ffe100;
}

.shadow-md{
  filter: drop-shadow (12px 2px 25px rgb(159, 10, 10));
}

.duration-200{
  transition: .3s;
}

.scale-110{
  transform: scale(1.1);
}

.sm-btn{
  background-color: #000476;
  color: #f1f1f1;
  align-self: start;
}